global:
  resolve_timeout: 5m

route:
  group_by: ['alertname', 'severity']
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 4h
  receiver: 'discord'

  routes:
    - match:
        severity: page
      receiver: 'discord'
      repeat_interval: 1h

    - match:
        severity: critical
      receiver: 'discord'
      repeat_interval: 2h

receivers:
  - name: 'discord'
    discord_configs:
      - webhook_url: '${DISCORD_WEBHOOK_URL}'

inhibit_rules:
  - source_match:
      severity: 'page'
    target_match:
      severity: 'critical'
    equal: ['alertname']
